.main {
  margin-top: 60px;
}
.prevArrow,
.nextArrow {
  position: absolute;
  top: 45%;
  z-index: 99;
  background: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  box-shadow: 0 0 10px 1px #525252;
  cursor: pointer;
}

.prevArrow {
  left: -20px;
  display: none;
}
.nextArrow {
  right: -20px;
}
.expertiseBlogDots {
  display: flex;
}
