body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global css */
.slick-dots {
  position: absolute;
  bottom: -140px;
}
.slick-dots li button::before {
  color: #fff !important;
  transform: scale(2.8);
  width: 0 !important;
  height: 15px !important;
}

.expertiseBlogDots {
  display: flex !important;
  justify-content: center;
  list-style: none;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.expertiseBlogDot {
  height: 15px;
  width: 15px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px #bfbfbf;
  cursor: pointer;
}

.expertiseBlogDots .slick-active .expertiseBlogDot {
  background: #3d4ca7;
}
